@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 229 46% 21%;
    --card: 0 0% 100%;
    --card-foreground: 229 46% 21%;
    --popover: 0 0% 100%;
    --popover-foreground: 229 46% 21%;
    --primary: 229 46% 21%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 229 46% 21%;
    --accent: 34 100% 55%;
    --accent-foreground: 229 46% 21%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 16% 47%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 229 46% 21%;
    --radius: 0.5rem;
    --warning: 42 96% 57%;
  }
}
